<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>show profile</title>
</head>
<body>

<p th:text="${user.getName()}">value</p>
<p th:text="${user.getSurname()}">value</p>
<p th:text="${user.getAge()}">value</p>
<p th:text="${user.getEmail()}">value</p>
<p th:text="${user.getCount()}">value</p>
<br/>
<form th:method="POSTsubmit" value="delete"/>
</form>

<br/>
<h2><a href="/">&lt&lt&ltНА ГЛАВНУЮ</a></h2>
</body>
</html>